*{
    box-sizing: border-box;
    transition-duration: 0.5s:
}

body{
    background-image: url("../img/01.jpg");
}

div#titre_contact {
    text-align: center;
}

.fa-6 {
    font-size: 5em;
}

div {
    background-color: #eee;
}

div.wrapper {
    width:960px; /* partie utile de la page */
    margin:auto; /* centrée au milieu de la page */;
}

header {
    display : flex;
}

div#retour_home {
    width: 100px;
    padding-left: 10px;
}

div#titre {
    width : 700px;
    text-align: center;
    padding-top: 15px;
}

div.contact {
    width : 160px;
    text-align:center;
}

main {
    display : flex;
}


div#gauche {
    width : 200px;
    border-right: 1px solid darkgrey;
    padding-left: 10px;
    padding-bottom: 10px;
}

img#photo_profil {
    width:100%;
}

div#droite {
    width : 760px;
    padding-left: 10px;
    padding-top:10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

div#droite {

}

div#bouton_send_email{
    text-align: center;
}

footer {
    display : flex;
}

div#partage {
    width:800px;
    text-align: center;
}
